{% layout "base.html" %}
{% block content %}

<div class="b-menu js-sticky">
    <div class="menu-title">
        <p class="desc">Table of Contents</p>
    </div>
    <div class="menu-container">
        <div class="menu-entry collapsable">
            <p class="desc">1. Menu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 1;">
            <p class="desc">a. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 2;">
            <p class="desc">i. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 3;">
            <p class="desc">aa. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 4;">
            <p class="desc">ii. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 5;">
            <p class="desc">aaa. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 6;">
            <p class="desc">iiii. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 7;">
            <p class="desc">aaaaa. Submenu Option</p>
        </div>
        <div class="menu-entry indent collapsable" style="--menu-indent: 8;">
            <p class="desc">iiiiii. Submenu Option</p>
        </div>
        <div class="menu-entry indent" style="--menu-indent: 9;">
            <p class="desc">aaaaaa. Submenu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">2. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">3. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">4. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">5. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">6. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">7. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">8. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">9. Menu Option</p>
        </div>
        <div class="menu-entry">
            <p class="desc">10. Menu Option</p>
        </div>
    </div>
</div>
<div class="b-content">
    <div class="b-container">
        <p class="draggable" draggable="true">1</p>
        <p class="draggable" draggable="true">2</p>
        <p class="draggable" draggable="true">3</p>
        <p class="draggable" draggable="true">4</p>
        <p class="draggable" draggable="true">5</p>
        <p class="draggable" draggable="true">6</p>
        <p class="draggable" draggable="true">7</p>
        <p class="draggable" draggable="true">8</p>
        <p class="draggable" draggable="true">9</p>
        <p class="draggable" draggable="true">10</p>
        <p class="draggable" draggable="true">11</p>
        <p class="draggable" draggable="true">12</p>
        <p class="draggable" draggable="true">13</p>
        <p class="draggable" draggable="true">14</p>
        <p class="draggable" draggable="true">15</p>
        <p class="draggable" draggable="true">16</p>
        <p class="draggable" draggable="true">17</p>
        <p class="draggable" draggable="true">18</p>
        <p class="draggable" draggable="true">19</p>
        <p class="draggable" draggable="true">20</p>
    </div>
    <div class="b-container">
        <p class="draggable" draggable="true">21</p>
        <p class="draggable" draggable="true">22</p>
        <p class="draggable" draggable="true">23</p>
        <p class="draggable" draggable="true">24</p>
        <p class="draggable" draggable="true">25</p>
        <p class="draggable" draggable="true">26</p>
        <p class="draggable" draggable="true">27</p>
        <p class="draggable" draggable="true">28</p>
        <p class="draggable" draggable="true">29</p>
        <p class="draggable" draggable="true">30</p>
        <p class="draggable" draggable="true">31</p>
        <p class="draggable" draggable="true">32</p>
        <p class="draggable" draggable="true">33</p>
        <p class="draggable" draggable="true">34</p>
        <p class="draggable" draggable="true">35</p>
        <p class="draggable" draggable="true">36</p>
        <p class="draggable" draggable="true">37</p>
        <p class="draggable" draggable="true">38</p>
        <p class="draggable" draggable="true">39</p>
        <p class="draggable" draggable="true">40</p>
    </div>
</div>

{% endblock %}