<div class="b-menu js-sticky" style="top: 1rem;">
  <div class="menu-title">
    <p class="desc">Table of Contents</p>
  </div>
  <div class="menu-container">
    {% for group in project.groups %}
      <div class="menu-entry">
        <p class="desc">{{ group.title }}</p>
      </div>
    {% endfor %}
  </div>
</div>
<div class="b-content">
  {%- for group in project.groups %}
  <div class="b-container">
    {%- for element in group.elements %}
      {%- if element.file == null %}
        {%- case element.type %}
        {%- when "description" %}
          {% include "components/types/description.html" %}
        {%- endcase %}
      {%- else %}
        {%- capture identifier %}{% randomid %}{% endcapture %}
        {%- case element.type %}
        {%- when "html", "pdf" %}
          {% include "components/types/frame.html" %}
        {%- when "png", "svg", "jpeg", "jpg", "tiff", "tif" %}
          {% include "components/types/image.html" %}
        {%- when "csv" %}
          {% include "components/types/table.html" %}
        {%- else %}
          <p>{{ element | json }}</p>
        {%- endcase %}
      {%- endif %}
    {%- endfor %}
  </div>
  {%- endfor %}
</div>