{% element "script" -%}
  const isMac = {{ os.name contains "macOS" | json }};
{%- endelement -%}

<script src="https://cdn.socket.io/4.8.3/socket.io.js" defer></script>
<script src="/assets/javascript/development/commands.js" defer></script>
<script src="/assets/javascript/development/draggable.js" defer></script>
<script src="/assets/javascript/development/sockets.js" defer></script>
<script src="/assets/javascript/development.js" defer></script>

<link rel="stylesheet" href="/assets/css/development.css">
