<!-- Meta Tag Headers -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
<link rel="stylesheet" href="/assets/css/styles.css">

<meta property="og:title" content="{{ title | titlecase }}" />
<title>{{ title | titlecase }}</title>

<link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css" />

<script src="/assets/javascript/menu.js" defer></script>
<script src="/assets/javascript/table.js" defer></script>
<script src="/assets/javascript/iframe.js" defer></script>