{% component "element.html", hascontents, class: 'b-image' %}
  {% element "img", self %}
    {%- attribute name: "class", value: "image" -%}
    {% assign url = "database/" | append: project.project | append: "/" | append: element.file | append: "/$" %}
    {%- attribute name: "src", value: url -%}
  {% endelement %}
  {% element "p", if element.description != null %}
    {%- attribute name: "class", value: "image-desc" -%}
    {{ element.description }}
  {%- endelement -%}
{% endcomponent -%}
