{%- component "element.html", hascontents %}
  {% element "div" -%}
    {%- attribute name: "class", value: "b-table" -%}
    {% assign url = "database/" | append: project.project | append: "/" | append: element.file | append: "/$" %}
    {%- attribute name: "aria-table", value: url -%}
    {%- attribute name: "aria-filetype", value: element.type -%}
    {%- attribute name: "aria-identifier", value: identifier -%}
    {%- attribute name: "aria-row-index", value: element.extras.index -%}
    {%- attribute name: "aria-column-order", value: element.extras.column_order -%}
  {%- endelement -%}
{%- endcomponent -%}
