{% assign environment = "NODE_ENV" | env: "prod" %}
{% capture isMac %}{{ os.name contains "macOS" }}{% endcapture %}

{%- element "span" -%}
  {%- attribute name: 'class', value: 'b-development' -%}
  {%- attribute name: 'id', value: 'development' -%}
  
  <span class="b-cmd-palette" id="cmd-palette">
    <label class="command-search">
      <i class="icon-search"></i>
      {%- element "input" -%}
        {%- attribute name: 'type', value: 'text' -%}
        {%- attribute name: 'name', value: 'search' -%}
        {%- attribute name: 'id', value: 'cmd-search' -%}
        {%- attribute name: 'placeholder', value: 'Search' -%}
      {%- endelement %}
      
      <span class="search-key">( {% element "i" -%}
        {%- attribute name: 'class', value: 'icon-command', if: os.name contains "macOS" -%}
        {%- attribute name: 'class', value: 'icon-chevron-up', if: os.name not contains "macOS" -%}
      {%- endelement %}+K )</span>
    </label>

    {% element "span" -%}
      {%- attribute name: 'class', value: 'cmd-list' -%}
      {%- attribute name: 'style', value: 'display: none;' -%}
    {%- endelement %}
  </span>
{%- endelement %}

